.input1 {
  width: 12rem;
  border-radius: 0.4rem;
  text-align: center;
  background-color: #eee;
  border: none;
  font-size: 12px;
  padding: 2px;
  transition: 0.4s;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.input1:hover {
  outline: none;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #777;
  background-color: #ddd;
}

.form label {
  font-family: var(--type);
  font-size: 16px;
  color: #00334b;
  font-weight: 400;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
