.passWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 0.4rem;
  padding: 1rem 0;
  gap: 2rem;
}

.input {
  width: 12rem;
  border-radius: 0.4rem;
  text-align: center;
  background-color: #eee;
  border: none;
  font-size: 12px;
  padding: 2px;
  transition: 0.4s;
}

.input:hover {
  outline: none;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #777;
  background-color: #ddd;
}

.passwordContainer {
  position: relative;
  display: grid;
}

.eye {
  position: absolute;
  top: 3px;
  right: 3%;
  color: #4fc3f7;
  cursor: pointer;
}
