@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --type: "Poppins", Georgia;
}

.PopupContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 384px;
  min-height: 180px;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
}

.PopupHeader {
  border-radius: 0.4rem;
  border-bottom: 0.5px solid #dadada;
}

.PopupDescription {
  display: grid;
  width: 70%;
}
.PopupDescription p {
  font-family: var(--type);
  line-height: 1.5rem;
  color: black;
  font-weight: 200;
}

h1,
p,
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
